.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 0;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 0;
    flex: 0 1 100%;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}